<h2>Left until the new year</h2>
  <div class="timer" id="timer-1">
      <div class="field">
        <span class="value" data-value="days">xx</span>
        <span class="label">Days</span>
      </div>
  
      <div class="field">
        <span class="value" data-value="hours">xx</span>
        <span class="label">Hours</span>
      </div>
  
      <div class="field">
      <span class="value" data-value="mins">xx</span>
      <span class="label">Minutes</span>
      </div>
  
      <div class="field">
        <span class="value" data-value="secs">xx</span>
        <span class="label">Seconds</span>
      </div>
  </div>

  
<!-- end of summer -->
  <h2>Left until the end of summer</h2>
  <div class="timer" id="summer">
      <div class="field">
        <span class="value" data-value="days">xx</span>
        <span class="label">Days</span>
      </div>
  
      <div class="field">
        <span class="value" data-value="hours">xx</span>
        <span class="label">Hours</span>
      </div>
  
      <div class="field">
      <span class="value" data-value="mins">xx</span>
      <span class="label">Minutes</span>
      </div>
  
      <div class="field">
        <span class="value" data-value="secs">xx</span>
        <span class="label">Seconds</span>
      </div>
  </div>